---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <header>
    <a href="index.html" class="home-link">
      <h1>EmbarazaFit</h1>
      <p>Ni antojos ni cuentos: 🥩 Proteína y mancuernas 🏋️‍♀️</p>
    </a>
  </header>

  <section>
    <h2>Fuentes de información sobre Diabetes Gestacional</h2>
    <p>
      En esta sección, comparto las fuentes de información que he consultado
      para mi experiencia y contenido sobre diabetes gestacional. Mi objetivo es
      ofrecer información fiable y basada en la evidencia. Siéntete libre de
      consultarlas para profundizar en el tema.
    </p>

    <div class="fuentes-container">
      <div class="fuente-card">
        <h3>Podcast "Diabetes gestacional I con Paula Lavandeira"</h3>
        <p class="fuente-descripcion">
          Episodio de podcast que aborda la diabetes gestacional centrándose en
          la evidencia científica, los tipos de cribado y las alternativas de
          pruebas disponibles.
        </p>
        <a
          href="https://open.spotify.com/episode/0s80XaxNC98SWb0FyBiDoy"
          class="btn-fuente"
          >Ir a la fuente</a
        >
      </div>

      <div class="fuente-card">
        <h3>Entrevista con la matrona Paula Lavandeira</h3>
        <p class="fuente-descripcion">
          Entrevista que busca desmitificar los riesgos de la diabetes
          gestacional, centrándose en el impacto en el embarazo y el bebé, y
          cuestionando la evidencia detrás de las prácticas actuales.
        </p>
        <a
          href="https://www.youtube.com/watch?v=nokyRZ3coHY&ab_channel=myBabymyBirth-Hipnoparto"
          class="btn-fuente"
          >Ir a la fuente</a
        >
      </div>

      <div class="fuente-card">
        <h3>Suplementos para la sensibilidad a la insulina</h3>
        <p class="fuente-descripcion">
          Podcast que explora suplementos como la berberina y el vinagre de
          sidra de manzana, destacando su eficacia para mejorar la sensibilidad
          a la insulina y controlar el azúcar en sangre.
        </p>
        <a
          href="https://www.youtube.com/watch?v=GcCL4NxmMVc&ab_channel=FoundMyFitnessClips"
          class="btn-fuente"
          >Ir a la fuente</a
        >
      </div>
      <div class="fuente-card">
        <h3>¿Qué harina es mejor para mi diabetes?</h3>
        <p class="fuente-descripcion">
          Artículo que clasifica las harinas en cuatro grupos (cereales,
          pseudocereales, legumbres y fuentes grasas) y ofrece pautas para
          elegir opciones de menor índice glucémico y manejar mejor la glucemia.
        </p>
        <a
          href="https://diabify.com/blog/harinas-diabeticos-integrales-bajas-hidratos/"
          class="btn-fuente"
          >Ir a la fuente</a
        >
      </div>
    </div>
  </section>
</Layout>
