/*
 * Importamos la fuente de Google Fonts.
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*
  * Estilos generales para toda la página.
  */
:root {
  /* Nueva paleta de colores */
  --pale-sand: #f7f4ef;
  --dark-charcoal: #2e3033;
  --vibrant-coral: #f76f5e;
  --deep-teal: #32a398;
  --dusty-rose: #d2b7bd;

  /* Mapeo de colores a las variables existentes */
  --beige: var(--pale-sand);
  --rusty-red: var(--vibrant-coral);
  --gunmetal: var(--dark-charcoal);
  --baby-powder: var(--pale-sand);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--beige);
  color: var(--gunmetal);
}

main {
  max-width: 1000px;
  margin: 20px auto;
}

section {
  background-color: var(--baby-powder);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 1.8em;
  color: var(--gunmetal);
}

.btn-descarga,
button.btn-descarga {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--rusty-red);
  color: var(--pale-sand);
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
}

.btn-descarga:hover {
  background-color: var(--deep-teal);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
