---
import '../styles.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Embarazafit - Proteína y mancuernas</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JH42E8BZQK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-JH42E8BZQK");
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2025 Embarazafit. Todos los derechos reservados.</p>
        <a
          href="https://www.instagram.com/embarazafit/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Síguenos en Instagram"
          class="social-link"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <p class="afiliado-disclaimer">
        Embarazafit participa en el Programa de Afiliados de Amazon EU, un
        programa de publicidad para afiliados diseñado para ofrecer a los sitios
        web un modo de obtener comisiones por publicidad, publicitando e
        incluyendo enlaces a Amazon.es.
      </p>
    </footer>

    <script async src="//www.instagram.com/embed.js"></script>
    <script
      data-cfasync="false"
      type="text/javascript"
      src="https://assets.ipzmarketing.com/assets/signup_form/v1.js"
    ></script>
  </body>
</html>
