---
import '../styles.css';

interface Props {
  title?: string;
}

const { title = 'Embarazafit' } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JH42E8BZQK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-JH42E8BZQK");
    </script>
  </head>
  <body>
    <header class="main-header" id="main-header">
      <a href="/" class="home-link">
        <h1>EmbarazaFit</h1>
        <p>Ni antojos ni cuentos: 🥩 Proteína y mancuernas 🏋️‍♀️</p>
      </a>
      <nav class="main-nav" id="main-nav">
        <ul>
          <li><a href="/fuentes">Fuentes</a></li>
          <li><a href="/plan-de-parto">Tu plan de parto</a></li>
        </ul>
      </nav>
      <button class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer-content">
        <p>&copy; 2025 Embarazafit. Todos los derechos reservados.</p>
        <a
          href="https://www.instagram.com/embarazafit/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Síguenos en Instagram"
          class="social-link"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <p class="afiliado-disclaimer">
        Embarazafit participa en el Programa de Afiliados de Amazon EU, un
        programa de publicidad para afiliados diseñado para ofrecer a los sitios
        web un modo de obtener comisiones por publicidad, publicitando e
        incluyendo enlaces a Amazon.es.
      </p>
    </footer>

    <script async src="//www.instagram.com/embed.js"></script>
    <script
      data-cfasync="false"
      type="text/javascript"
      src="https://assets.ipzmarketing.com/assets/signup_form/v1.js"
    ></script>

    <script>
      // Lógica para el efecto sticky del menú
      document.addEventListener("DOMContentLoaded", function () {
        const header = document.getElementById("main-header");
        if (header) {
          window.addEventListener("scroll", function () {
            if (window.scrollY > 50) {
              header.classList.add("scrolled");
            } else {
              header.classList.remove("scrolled");
            }
          });
        }
      });

      // Lógica para el menú de hamburguesa
      const hamburger = document.getElementById("hamburger");
      const navMenu = document.getElementById("main-nav");

      if (hamburger && navMenu) {
        hamburger.addEventListener("click", () => {
          navMenu.classList.toggle("active");
          hamburger.classList.toggle("active");
        });
      }
    </script>
  </body>
</html>

<style></style>
